### Importar librerias

In [1]:
import pyodbc

### Desactivar warnings

In [2]:
import warnings
warnings.filterwarnings('ignore')

### Conectar a la base de datos en SQL Server

In [18]:
# creo variables con los datos para la conexion
server = 'DESKTOP-LLA8UAG\SQLEXPRESS'
database = 'Airline'
driver = 'ODBC Driver 17 for SQL Server'

# cadena con los datos para la conexion
conn_str = f'DRIVER={{{driver}}}; SERVER={server};DATABASE={database};Trusted_Connection=yes;'

# metodo de conexion "connect" a la base de datos
connection = pyodbc.connect(conn_str)

## Inserts automatizados

In [16]:
def insert_aircrafts_data(aircraft_code, model, range):
    cursor = connection.cursor()
    query =  'INSERT INTO aircrafts_data (aircraft_code, model, range) VALUES (?, ?, ?)'
    try:
        with connection.cursor() as cursor:
            cursor.execute(query, (aircraft_code, model, range))
            connection.commit()
            return cursor.rowcount
    except Exception as e:
        connection.rollback()
        raise e
    finally:
        cursor.close()

In [13]:
def insert_airports_data(airport_code, airport_name, city, coordinates, timezone):
    cursor = connection.cursor()
    query = 'INSERT INTO airports_data (airport_code, airport_name, city, coordinates, timezone) VALUES (?, ?, ?, ?, ?)'
    try:
        with connection.cursor() as cursor:
            cursor.execute(query, (airport_code, airport_name, city, coordinates, timezone))
            connection.commit()
            return cursor.rowcount
    except Exception as e:
        connection.rollback()
        raise e
    finally:
        cursor.close()

In [21]:
def insert_boarding_passes(ticket_no, flight_id, boarding_no, seat_no):
    cursor = connection.cursor()
    query = 'INSERT INTO boarding_passes (ticket_no, flight_id, boarding_no, seat_no) VALUES (?, ?, ?, ?)'
    try:
        with connection.cursor() as cursor:
            cursor.execute(query, (ticket_no, flight_id, boarding_no, seat_no))
            connection.commit()
            return cursor.rowcount
    except Exception as e:
        connection.rollback()
        raise e
    finally:
        cursor.close()

In [23]:
def insert_bookings(book_ref, book_date, total_amount):
    cursor = connection.cursor()
    query = 'INSERT INTO bookings (book_ref, book_date, total_amount) VALUES (?, ?, ?)'
    try:
        with connection.cursor() as cursor:
            cursor.execute(query, (book_ref, book_date, total_amount))
            connection.commit()
            return cursor.rowcount
    except Exception as e:
        connection.rollback()
        raise e
    finally:
        cursor.close()

In [24]:
def insert_flights(flight_id, flight_no, scheduled_departure, scheduled_arrival, departure_airport, arrival_airport, status, aircraft_code, actual_departure, actual_arrival):
    cursor = connection.cursor()
    query = '''INSERT INTO flights (flight_id, flight_no, scheduled_departure, scheduled_arrival, departure_airport, arrival_airport, status, aircraft_code, actual_departure, actual_arrival)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)'''
    try:
        with connection.cursor() as cursor:
            cursor.execute(query, (flight_id, flight_no, scheduled_departure, scheduled_arrival, departure_airport, arrival_airport, status, aircraft_code, actual_departure, actual_arrival))
            connection.commit()
            return cursor.rowcount
    except Exception as e:
        connection.rollback()
        raise e
    finally:
        cursor.close()

In [25]:
def insert_seats(aircraft_code, seat_no, fare_conditions):
    cursor = connection.cursor()
    query = 'INSERT INTO seats (aircraft_code, seat_no, fare_conditions) VALUES (?, ?, ?)'
    try:
        with connection.cursor() as cursor:
            cursor.execute(query, (aircraft_code, seat_no, fare_conditions))
            connection.commit()
            return cursor.rowcount
    except Exception as e:
        connection.rollback()
        raise e
    finally:
        cursor.close()

In [26]:
def insert_ticket_flights(ticket_no, flight_id, fare_conditions, amount):
    cursor = connection.cursor()
    query = 'INSERT INTO ticket_flights (ticket_no, flight_id, fare_conditions, amount) VALUES (?, ?, ?, ?)'
    try:
        with connection.cursor() as cursor:
            cursor.execute(query, (ticket_no, flight_id, fare_conditions, amount))
            connection.commit()
            return cursor.rowcount
    except Exception as e:
        connection.rollback()
        raise e
    finally:
        cursor.close()

In [27]:
def insert_tickets(ticket_no, book_ref, passenger_id):
    cursor = connection.cursor()
    query = 'INSERT INTO tickets (ticket_no, book_ref, passenger_id) VALUES (?, ?, ?)'
    try:
        with connection.cursor() as cursor:
            cursor.execute(query, (ticket_no, book_ref, passenger_id))
            connection.commit()
            return cursor.rowcount
    except Exception as e:
        connection.rollback()
        raise e
    finally:
        cursor.close()

### Pruebas de inserts

In [19]:
print(insert_aircrafts_data('099', '{"en": "f14 tomkat", "ru": "test avion"}', 1414))

1

In [20]:
print(insert_airports_data('AAA', '{"en": "aeropuerto en ingles", "ru": "aeropuerto en ruso"}', '{"en": "city ingles", "ru": "city ruso"}', '(123456, 87964)', 'Europa/Moscu'))

1

In [22]:
print(insert_boarding_passes('000564238', 9999, 60, '10A'))

1

In [28]:
print(insert_bookings('0ZZ999', '2024-11-24 20:30:00.0300000', 80000))

1

In [29]:
print(insert_flights(999999, 'MC1780', '2024-11-24 20:30:00.0300000', '2024-11-24 23:30:00.0300000', 'MRM', 'MAC', 'Scheduled', '999', 'N', 'N'))

1

In [30]:
print(insert_seats('319', '9Z', 'Ejecutivo'))

1

In [31]:
print(insert_ticket_flights(9933123599, 99999, 'Economica', 5000))

1

In [32]:
print(insert_tickets(993312358588, 'Z313ZZZ', '2024 65271999'))

1