### Importar librerias

In [1]:
import pyodbc

### Desactivar warnings

In [ ]:
import warnings
warnings.filterwarnings('ignore')

### Conectar a la base de datos en SQL Server

In [ ]:
# creo variables con los datos para la conexion
server = 'DESKTOP-LLA8UAG\SQLEXPRESS'
database = 'Airline'
driver = 'ODBC Driver 17 for SQL Server'

# cadena con los datos para la conexion
conn_str = f'DRIVER={{{driver}}}; SERVER={server};DATABASE={database};Trusted_Connection=yes;'

# metodo de conexion "connect" a la base de datos
connection = pyodbc.connect(conn_str)

## Inserts automatizados

In [9]:
def insert_aircrafts_data(aircraft_code, model, range):
    cursor = connection.cursor()
    query = '''INSERT INTO aircrafts_data (aircraft_code, model, range)
        VALUES ('{}', '{}', {})'''.format(aircraft_code, model, range)
    cursor.execute(query)
    result = cursor.rowcount
    cursor.commit()
    cursor.close()
    return result

In [ ]:
def insert_airports_data(airport_code, airport_name, city, coordinates, timezone):
    cursor = connection.cursor()
    query = '''INSERT INTO airports_data (airport_code, airport_name, city, coordinates, timezone)
        VALUES ('{}', '{}', '{}', '{}', '{}')'''.format(airport_code, airport_name, city, coordinates, timezone)
    cursor.execute(query)
    result = cursor.rowcount
    cursor.commit()
    cursor.close()
    return result

In [ ]:
def insert_boarding_passes(ticket_no, flight_id, boarding_no, seat_no):
    cursor = connection.cursor()
    query = '''INSERT INTO boarding_passes (ticket_no, flight_id, boarding_no, seat_no)
        VALUES ('{}', {}, {}, '{}')'''.format(ticket_no, flight_id, boarding_no, seat_no)
    cursor.execute(query)
    result = cursor.rowcount
    cursor.commit()
    cursor.close()
    return result

In [ ]:
def insert_bookings(book_ref, book_date, total_amount):
    cursor = connection.cursor()
    query = '''INSERT INTO bookings (book_ref, book_date, total_amount)
        VALUES ('{}', '{}', {})'''.format(book_ref, book_date, total_amount)
    cursor.execute(query)
    result = cursor.rowcount
    cursor.commit()
    cursor.close()
    return result

In [ ]:
def insert_flights(flight_id, flight_no, scheduled_departure, scheduled_arrival, departure_airport, arrival_airport, status, aircraft_code, actual_departure, actual_arrival):
    cursor = connection.cursor()
    query = '''INSERT INTO flights (flight_id, flight_no, scheduled_departure, scheduled_arrival, departure_airport, arrival_airport, status, aircraft_code, actual_departure, actual_arrival)
        VALUES ({}, '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}')'''.format(flight_id, flight_no, scheduled_departure, scheduled_arrival, departure_airport, arrival_airport, status, aircraft_code, actual_departure, actual_arrival)
    cursor.execute(query)
    result = cursor.rowcount
    cursor.commit()
    cursor.close()
    return result

In [ ]:
def insert_seats(aircraft_code, seat_no, fare_conditions):
    cursor = connection.cursor()
    query = '''INSERT INTO seats (aircraft_code, seat_no, fare_conditions)
        VALUES ('{}', '{}', '{}')'''.format(aircraft_code, seat_no, fare_conditions)
    cursor.execute(query)
    result = cursor.rowcount
    cursor.commit()
    cursor.close()
    return result

In [ ]:
def insert_ticket_flights(ticket_no, flight_id, fare_conditions, amount):
    cursor = connection.cursor()
    query = '''INSERT INTO ticket_flights (ticket_no, flight_id, fare_conditions, amount)
        VALUES ({}, {}, '{}', {})'''.format(ticket_no, flight_id, fare_conditions, amount)
    cursor.execute(query)
    result = cursor.rowcount
    cursor.commit()
    cursor.close()
    return result

In [ ]:
def insert_tickets(ticket_no, book_ref, passenger_id):
    cursor = connection.cursor()
    query = '''INSERT INTO tickets (ticket_no, book_ref, passenger_id)
        VALUES ({}, '{}', '{}')'''.format(ticket_no, book_ref, passenger_id)
    cursor.execute(query)
    result = cursor.rowcount
    cursor.commit()
    cursor.close()
    return result

### Pruebas de inserts

In [10]:
print(insert_aircrafts_data('999', '{"en": "f14 tomkat", "ru": "test avion"}', 1414))

1

In [ ]:
print(insert_airports_data('AAA', '{"en": "aeropuerto en ingles", "ru": "aeropuerto en ruso"}', '{"en": "city ingles", "ru": "city ruso"}', '(123456, 87964)', 'Europa/Moscu'))

In [21]:
print(insert_boarding_passes('000564238', 9999, 60, '10A'))

1

In [24]:
print(insert_bookings('0ZZ999', '2024-11-24 20:30:00.0300000', 80000))

1

In [7]:
print(insert_flights(999999, 'MC1780', '2024-11-24 20:30:00.0300000', '2024-11-24 23:30:00.0300000', 'MRM', 'MAC', 'Scheduled', '999', 'N', 'N'))

1

In [19]:
print(insert_seats('319', '9Z', 'Ejecutivo'))

1

In [21]:
print(insert_ticket_flights(9933123599, 99999, 'Economica', 5000))

1

In [6]:
print(insert_tickets(993312358588, 'Z313ZZZ', '2024 65271999'))

1