Importar librerias

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pymysql
#paquete para manejar varable de entorno(variable q esta en otra parte del codigo)
from dotenv import load_dotenv
import os
import json

In [9]:
#Desactivar warnings
import warnings
warnings.filterwarnings('ignore')

Conectar a MySQL

In [10]:
import os

def cargar_variables_entorno(archivo):
    # Abrir el archivo de texto con las variables
    with open(archivo, 'r') as file:
        # Leer cada línea y configurar las variables de entorno
        for line in file:
            # Limpiar posibles saltos de línea y separar la clave y valor
            clave, valor = line.strip().split('=')
            os.environ[clave] = valor  # Establecer la variable de entorno

# Llamar a la función con el archivo config.txt
cargar_variables_entorno('C:\\Users\\Public\\PF\\config.txt')

# Ahora puedes acceder a las variables de entorno
host = os.getenv('HOST')
dbName = os.getenv('DB_NAME')
port = int(os.getenv('PORT'))  # Asegúrate de convertir a entero si es necesario
user = os.getenv('USER')
pswd = os.getenv('PASSWORD')

print(f"Host: {host}, DB Name: {dbName}, Port: {port}, User: {user}, Password: {pswd}")

Host: junction.proxy.rlwy.net, DB Name: railway, Port: 53597, User: root, Password: BpPAiNxOCYzqLjAKnqqtWOnoisURAuhw

In [11]:
user = os.getenv('USER')
pswd = os.getenv('PASSWORD')
host = os.getenv('HOST')
dbName = os.getenv('DB_NAME')
port = int(os.getenv('PORT'))

try:
    connection = pymysql.connect(host = host, user = user, passwd = pswd, database = dbName, port = port)
    cursor = connection.cursor()
    print (cursor) # Muestra el cursor si todo funciona correctamente

except pymysql.Error as e:
    print("Error en la conexión:", e)

<pymysql.cursors.Cursor object at 0x000001989622ECF0>

- Tabla aircrafts

In [12]:
#Creación del DF
query = "SELECT * FROM aircrafts_data;"

aircrafts_data = pd.read_sql_query(query, connection)
aircrafts_data.head()

  aircraft_code                                              model  range
0           319  {"en": "Airbus A319-100", "ru": "Аэробус A319-...   6700
1           320  {"en": "Airbus A320-200", "ru": "Аэробус A320-...   5700
2           321  {"en": "Airbus A321-200", "ru": "Аэробус A321-...   5600
3           733    {"en": "Boeing 737-300", "ru": "Боинг 737-300"}   4200
4           763    {"en": "Boeing 767-300", "ru": "Боинг 767-300"}   7900

In [ ]:
#Cantidad de filas y columnas
np.shape(aircrafts_data)

(9, 3)

In [ ]:
#Consultar nulos
aircrafts_data.isnull().sum()

aircraft_code    0
model            0
range            0
dtype: int64

In [ ]:
#Consultar cantidad de unicos columna PK
aircrafts_data['aircraft_code'].nunique()

9

In [ ]:
#Por razones de legibilidad mantenemos solo la versión en inglés de cada modelo, en lugar de todo el JSON.
aircrafts_data['model'] = aircrafts_data['model'].apply(lambda x: json.loads(x)['en']) 
aircrafts_data.head()

  aircraft_code            model  range
0           319  Airbus A319-100   6700
1           320  Airbus A320-200   5700
2           321  Airbus A321-200   5600
3           733   Boeing 737-300   4200
4           763   Boeing 767-300   7900

- Tabla airports

In [ ]:
#Creación del DF
query = "SELECT * FROM airports_data;"

airports_data = pd.read_sql_query(query, connection)
airports_data.head()

,airport_code,airport_name,city,coordinates,timezone
0,AAQ,"{""en"": ""Anapa Vityazevo Airport"", ""ru"": ""Витяз...","{""en"": ""Anapa"", ""ru"": ""Анапа""}","(37.3473014831539984,45.002101898192997)",Europe/Moscow
1,ABA,"{""en"": ""Abakan Airport"", ""ru"": ""Абакан""}","{""en"": ""Abakan"", ""ru"": ""Абакан""}","(91.3850021362304688,53.7400016784667969)",Asia/Krasnoyarsk
2,AER,"{""en"": ""Sochi International Airport"", ""ru"": ""С...","{""en"": ""Sochi"", ""ru"": ""Сочи""}","(39.9566001892089986,43.4499015808110016)",Europe/Moscow
3,ARH,"{""en"": ""Talagi Airport"", ""ru"": ""Талаги""}","{""en"": ""Arkhangelsk"", ""ru"": ""Архангельск""}","(40.7167015075683594,64.6003036499023438)",Europe/Moscow
4,ASF,"{""en"": ""Astrakhan Airport"", ""ru"": ""Астрахань""}","{""en"": ""Astrakhan"", ""ru"": ""Астрахань""}","(48.0063018799000005,46.2832984924000002)",Europe/Samara

In [18]:
#Cantidad de filas y columnas
np.shape(airports_data)

(104, 5)

In [19]:
#Consultar nulos
airports_data.isnull().sum()

airport_code    0
airport_name    0
city            0
coordinates     0
timezone        0
dtype: int64